body {
    font-family: 'Roboto', sans-serif;
    background: #ffffff;
    height: 100vh;
    color: black;
    justify-content: center;
    align-items: center;
  }

.title{
  font-size: 24px;
  margin-bottom:10px;
}

.pict-profile{
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #000;
  height: 35px;
  margin-right: 5px;
}

.pict-profile .text{
  float: left;
  background-color: #f1f1f1;
  min-width: 50px;
  height: 35px;
  margin-left:-20px;
  padding:0px 20px 0px 30px;
  border-radius: 25px;
}

.pict-profile .image-pp-man{
  z-index:10;
  position: relative;
  float: left;
  background-image: url("./pp-man-35.png");
  min-width: 35px;
  min-height:35px;
}

.pict-profile .image-pp-woman{
  z-index:10;
  position: relative;
  float: left;
  background-image: url("./pp-woman-35.png");
  min-width: 35px;
  min-height:35px;
}

.pict-profile .text span.name{
  margin-top:11px;
  display: inline-flex;
  align-items: center;
}

.btn-close{
  box-sizing:content-box;
  width:0.2em;
  height:0.2em;
  padding:.25em .25em;
  color:#000;
  background:transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border:0;
  border-radius:.25rem;
  opacity:.5;
  margin-top:1px;
  margin-left:3px;
}

.btn-close:hover{
  color:#000;
  text-decoration:none;
  opacity:.75
}